* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

main {
    margin: 50px auto;
    width: 960px;
    /* height: 1000px; */
    /* background-color: red; */
}

.image-1 {
    background-image: url(img/flow01.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.image-2 {
    background-image: url(img/flow02.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.image-3 {
    background-image: url(img/flow03.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.categories {
    position: absolute;
    top: 0;
    left: 0;
    background-color: orange;
    color: white;
    padding: 5px;
}

.step1box {
    width: 300px;
    margin-right: 30px;
    padding: 10px;
    float: left;
    /* background-color: salmon; */
    border: solid 2px #f7f7f7;
    position: relative;
}


.step2box {
    width: 300px;
    margin-right: 30px;
    padding: 10px;
    float: left;
    /* background-color: brown; */
    border: solid 2px #f7f7f7;
    position: relative;
}

.step3box {
    width: 300px;
    float: left;
    padding: 10px;
    /* background-color: darkgray; */
    border: solid 2px #f7f7f7;
    position: relative;
}

@media screen and (max-width:768px){
    main {
        width: 100%;
    }
    .step1box {
        margin: 50px 5% 20px 5%;
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    .step2box {
        margin: 50px 5% 20px 5%;
        width: 90%;
        float: none;
    }

    .step3box {
        margin: 20px 5% 50px 5%;
        width: 90%;
        float: none;
    }
}